.footer{
    position:fixed;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:5%;
    background-color: #f5f5f56a;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    color: rgb(1, 1, 1);
}

body,
html {
    overflow: hidden;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
    background: url(/img/databasecover.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container{
    width: 80%;
    margin:0 auto;
}

header{
    background: #55d6aa;
}

header::after{
    content: '';
    display: table;
    clear:both;
}

.logo{
    width: 100px;
    float:left;
    
}

nav{
    float:right;
}

nav ul {
margin:0;
padding:0;
list-style:none;
}

nav li{
    display:inline-block;
    margin-left: 70px;
    padding-top:25px;
    position:relative;
}

nav a{
    color:#444;
    text-decoration: none;
    text-transform: uppercase;
    font-size:20px;
}

nav a:hover{
    color:#000;

}

.sections::before{
    content:'';
    display:block;
    width:0%;
    height:5px;
    background-color:#444;
    position:absolute;
    top:0;
    transition: all 0.3s ease-in-out;
}

.sections:hover::before{
    width:100%;
    
}
.dropmenu{
display: none;
position: absolute;
background-color: #f1f1f1;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
z-index: 1;
}
.a{
    color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        font-size: 15px;
}
.a:hover{
    background-color: #ddd;
}

.a:hover::before{
    width:100%;
}
.dropdown:hover .dropmenu {
    display: block;
}
.devstabs{
    position:fixed;
    float:none;
    display: inline;
}
label{
    font-size: 20px;
    color: rgb(255, 253, 253);
    text-decoration: solid;
    text-shadow: 2px 2px 2px black;
    background-color: rgba(30, 0, 183, 0.386);
    border-radius: 10px;
    margin-right: 20px;
}
input{
    border-radius: 10px;
    border: 2px solid rgb(255, 253, 253);
    color: rgb(0, 0, 0);
    text-decoration: solid;
    font-size: 17px;
    width: 200px;
    box-sizing: border-box;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    transition: width 0.4s ease-in-out;
}
input:focus {
    background-color: aquamarine;
    width: 40%;
}
input[type=submit] {
  background-color: #04aa28c1;
  color: white;
  text-shadow: #000 0px 0px 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  position:relative;
  margin: 10px 0 0 60px;
  padding:auto;
}
input[type=submit]:hover {
    background-color: #11ec1ce6;
}
form{
    position: relative;
    top: 30px;
    left: 40%;
}
table{
    text-align: center;
    border-collapse: collapse;
    width: 95%;
    font-size: 20px;
    color: rgb(255, 253, 253);
    text-shadow: 2px 2px 2px black;
    background-color: rgba(98, 81, 191, 0.71);
    border-radius: 10px;
    margin-left:auto;
    margin-right: auto;
    margin-top:100px;

}
